<html>
	<head>
		<title>Create Attraction</title>
		<script>var i =0;</script>
		<style><%- include style.css %></style>
	</head>
<body>

<%- include menu.ejs %>
<table>
<form action="/admin/create/attraction" method="POST" encType="multipart/form-data">
	<tr>
		<td>District:</td>
		<td>
			<input list="district" name="district" type="text">
			<datalist id="district"/>
				<%for(i=0;i<districtList.length;i++){%>
					<option value="<%=districtList[i]%>"><%=districtList[i]%>
				<%}%>
			</datalist>
		</td>
	</tr>

	<tr>
		<td>Title:</td>
		<td>
			<input name="title" id="title" type="text"/>
		</td>
	</tr>

	<tr>
		<td>Category:</td>
		<td>
			<input list="cat" name="cat" type="text">
			<datalist id="cat"/>
					<option value="Museum">Museum
					<option value="Restuarant">Restuarant
					<option value="Mall">Mall
			</datalist>
		</td>
	</tr>

	<tr>
		<td>lon:</td>
		<td>
			<input name="lon" id="lon" type="text"/>
		</td>
	</tr>

	<tr>
		<td>lat:</td>
		<td>
			<input name="lat" id="lat" type="text"/>
		</td>
	</tr>

	<tr>
		<td>Description:</td>
		<td>
			<input name="des" id="des" type="text"/>
		</td>
	</tr>
	<tr>
		<td>Hours:</td>
		<td>
			<input name="hour" id="hour" type="text"/>
		</td>
	</tr>
	<tr>
		<td>Image:</td>
		<td>
			<input type="file" name="sampleFile" id="sampleFile"/>
		</td>
	</tr>
	<tr>
		<td>
			<input type="submit" value="submit"/>
		</td>
	</tr>


</from>
</table>
</body>
</html>
