<html>
	<head>
		<script>var i =0;</script>
		<style><%- include style.css %></style>
	</head>
<body>

<%- include menu.ejs %>
<h3>GET</h3>
	<table>
		<tr>
			<th>API code</th><th>Finish</th>
		</tr>
		<tr>
			<td>
				<a href="/api/read/weather">/api/read/weather</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/api/read/districtList">/api/read/districtList</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/api/read/siteList">/api/read/siteList</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/api/read/siteList/xxx">/api/read/siteList/:name</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/api/read/districtList/xxx">/api/read/districtList/:district</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/api/read/xxx/comment">/api/read/:site/comment</a>
			</td>
		<td>
			<input type="checkbox" name="xxx" checked/>
		</td>
		</tr>
		<tr>
			<td>
				<a href="/api/read/radar/xx/00/00">/api/read/radar/:category/:lat/:lon</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/api/read/map/mall">/api/read/map/:category</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/api/read/home">/api/read/home</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/read/user/:name/info">/read/user/:name/info</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
</table>

<h3>POST</h3>
<table>
		<tr>
			<td>
				<a href="#">/login</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#">/logout</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#">/create/user</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#">/update/user/info</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#">/api/create/comment</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" />
			</td>
		</tr>
		<tr>
			<td>
				<a href="#">/update/user/info</a>
			</td>
			<td>
				<input type="checkbox" name="xxx" checked/>
			</td>
		</tr>
</table>
</body>
</html>
